/* MOBILE hamburger menu => signs.html only */

.navbar__menu {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
} 

@media only screen and (max-width: 50em){
    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }
    
    .navList {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 7.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: rgba(0, 0, 0, 0.61);
        padding-top: 10px;
    }

    .navbar__menu .menu__link {
        padding: .6em;
        font-size: 1.3em;
    }

    .burger {
        display: inline-block;
        margin: 3px;
        padding: 10px;
        cursor: pointer;
    }
    
    .nav__active {
        transform: translateX(0%);
    }
    
}