@media only screen and (max-width: 35em){
    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }
    
    .navList {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: rgba(0, 0, 0, 0.61);
    }
    
    .menu__link {
        font-size: 1em;
    }
    
    .navbar__menu .menu__link {
        padding: .5em;
        font-size: 1.3em;
    }

    .burger {
        display: inline-block;
        margin: 3px;
        padding: 10px;
        cursor: pointer;
    }
    
    .nav__active {
        transform: translateX(0%);
    }
    
    }
    
