/* ---- Base Rules ---- */
html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgb(67, 7, 107) 0%, rgb(31, 51, 126) 80%, rgba(0,13,60,1) 100%);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    overflow-x: hidden;
}


/* Typeography General*/
h1 {
    font-family: 'Poiret One', cursive;
    text-shadow: rgb(165, 165, 165) 1px 0 20px;
    font-size: 3em;
    text-align: center;
    margin: 2em 1rem;
}

nav {
    background-color: rgb(0, 0, 0);
    font-family: 'Poiret One', cursive;
    font-size: 1.1em;
}

.material-icons {
    font-size: 4em;
    text-align: center;
}

#scrollToTop {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: rgb(119, 44, 97);
    box-shadow: rgb(165, 165, 165) 1px 0 10px;
    text-shadow: rgb(165, 165, 165) 1px 0 20px;
    border: none;
    opacity: 80%;
    cursor: pointer;
}

.home {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
    letter-spacing: .5em;
    cursor: pointer;
}

.home:hover {
    background: rgb(119, 44, 97);
    color: #fff;
    transition: ease 0.3s all;
}


@media only screen and (min-width: 35em){
.burger {
    display: none;
}

    h1 {
        font-size: 10em;
        margin: 2em 4rem 2em;
    }
}

h2 {
    border-bottom: 2px solid white;
    font-family: 'Poiret One', cursive;
    text-shadow: rgb(165, 165, 165) 1px 0 20px;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
    font-size: 1.2em;
}

h2,
h3,
p {
    text-align: left;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/



.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    display: inline-block;
    color: white;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar__menu .menu__link:hover {
    background: rgb(119, 44, 97);
    color: #fff;
    transition: ease 0.3s all;
}

.menu__link.active {
    color: rgb(255, 255, 255);
    background: rgb(119, 44, 97);
}

.navbar__menu .menu__link {
    cursor: pointer;
}

/* Header Styles */
.page__header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
    font-size: 1em;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: active class is applied through javascript.
You should update the class here and in the index.html
to what you set in your javascript file.  */
section.active {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.active .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.active .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}


@media only screen and (max-width: 35em){
    h2 {
        font-size: 2em;
    }
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em)
		           rotate(-360deg);
	}
}